/* Reset the browser stylesheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particleCanvas {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(#ffc38c, #ff8818);
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.wrapper {
  z-index: 1;
  /* width: 100vw; */
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.showControls {
  left: 0;
  opacity: 50%;
  margin: 10px;
  padding: 5px;
  font-family: 'Fira Code', consolas;
}

.controls {
  padding: 10px;
  background: rgba(250, 250, 250, 0.5);
  border-radius: 5px;
}

.controls > button {
  background-color: darkorange;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  border-width: 0;
  animation: rotating 1s ease infinite;
}

.controls > button:hover { 
  background-color: rgb(253, 178, 85);
}

@keyframes rotating {
  0% {
    transform: scale(1.05);
    transform: rotate(1);
  }
  50% {
    transform: scale(1);
    transform: rotate(30);
  }
  100% {
    transform: scale(1.05);
    transform: rotate(1);
  }
  
}